DATABASE_URL=postgres://user:password@localhost:5432/medusa
REDIS_URL=
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
MEDUSA_BACKEND_URL=http://localhost:9000
STORE_CORS=http://localhost:3000
ADMIN_CORS=http://localhost:9000
AUTH_CORS=http://localhost:9000
STRIPE_API_KEY=
MEDUSA_PUBLISHABLE_KEY=
SANITY_API_TOKEN=
SANITY_PROJECT_ID=
S3_FILE_URL=
S3_REGION=
S3_BUCKET=
S3_ENDPOINT=
